# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist
*.tsbuildinfo

# Env (секреты не в репо)
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Tests
coverage
.nyc_output
